.form {
    margin: 10px; 
}


.form__fieldset {
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 20px 4px #646464;
   

}

.form__legend {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.form__paragraph {
    
    font-size: 17px;
    font-weight: 700;
    
}

.form__label {
   display:flex;
   flex-wrap: wrap;
}

.form__labelText {
    
    max-width: 350px;
    justify-content: flex-start;
    padding: 5px;
}

.form__labelText {
    flex-grow: ;
    width: 310px;
}

.form__labelInput {
   
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
}

.form__labelInput:hover {
    background-color: #cecece;
}

.form__labelInput--grow {
    flex-grow: 1;

}

.form__button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    font-weight: 700;
}

.form__button:hover {
    background-color: #cecece;
    cursor: pointer;

}

.form__buttonContainer {
    display: flex;
    justify-content: center;
}