html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    margin: 100px auto;
    max-width: 700px;
    font-size: 20px;
    background-image: url("../images/background.jpg");
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
}